* {

  font-family: 'Dosis', sans-serif;
  margin: 0px;
  padding: 0;
  /*border: solid black 0.1px; */
  text-align: left;
  

}

a {

  color: #000000;

}

header-image {

  background-size: cover;

}

h1 {
  
  margin: 10px;
  color: #ccc906;
  font-size: 55px;

}

div > p {

  margin: 10px;
}

div > img {

  margin: 0px;
}

div {

  width: 800px;

}




.bold {

  font-weight: 700;

}

.light {

  font-weight: 300;

}

.floating-box {

  display: inline-block;
  width: 350px;
  height: 80;
  margin: 10px;

}

.img-floating-box {

  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;

}

#no-margin {

  margin: 0;
}

#top-vertical-align {

  vertical-align: top;
}