body{
	font-family: "Helvetica", "Arial", serif;

}

.main {
	margin:0 auto;	
	width: 900px;
	display:block;
	background-color: #f4f4f1;
}

.leftside{
	float:left;
}

nav{
	text-align: center;
	background-color: #A94838;
	margin: -5px 0;
	padding: 5px 0;
}

nav > a{
	font-size: 18px;
	font-weight: lighter;
	color: white;
	text-decoration: none;
}

img{
	margin-right:50px;
	border: 1px solid #666666;
}

img.thumb{
	width:250px;
}

ul{
	list-style: none;
	padding-left:0px;
}

li > a{
	text-decoration: none;
	color: #8B0000;
}

.blocks{
	display: inline-block;
	width:30%;
	vertical-align: top;
	margin-right:25px;
}

.centerit{
	margin:0 20px;
	padding-bottom: 40px;
}

.clearit{
	clear: both;
}

.smaller{
	font-size: 13px;
}