* {
	font-family: Verdana, sans-serif;
	padding-left: 10px;
	background-color: teal;
}

nav{
	text-align: center;
}

h1{
	text-align:center;
}

h2 {
	display:inline;
	width:100%;
	text-align: center;
	border: solid 1px;
	margin:20px;
	background:teal;
}

footer {
	text-align: center;
}

.picf {
	display: inline;
}

.social{
	width:100px;
	height:100px;
	bottom: 0;
	margin:10px;
}

.centertext {
	text-align: center;
}